include README.md
include requirements.txt
include IQM_Vis/examples/images/waves1.jpeg
include IQM_Vis/examples/images/waves2.jpeg
include IQM_Vis/examples/images/waves3.jpeg
include IQM_Vis/examples/images/HIQM.csv
include IQM_Vis/UI/style-light.css
include IQM_Vis/UI/style-dark.css
include VERSION
include IQM_Vis/examples/KODAK-dataset/*.png