numpy
opencv-python
scikit-image
PyQt6
matplotlib
torch
torchmetrics
dists-pytorch
torchvision
lpips
notebook
pandas
twine
pytest
sphinx
nbsphinx
sphinx_gallery
sphinx_rtd_theme
Pallets-Sphinx-Themes
renku-sphinx-theme
pydata-sphinx-theme
sphinx-book-theme
cloud-sptheme
Jinja2==3.0
